@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    footer {
        @apply w-full py-4;
    }

    .footer-section {
        @apply flex flex-col justify-center items-center;
    }

    .footer-section a {
        @apply my-4;
    }

    .nav {
        @apply flex fixed top-0 w-full z-10 bg-gradient-to-t from-transparent to-gray-900 backdrop-blur-xl justify-center items-center py-4;
    }

    /** HomeView layout **/
    .main {
        @apply xl:w-1/2 md:w-3/4 flex flex-col justify-center items-center my-24 mx-auto;
    }

    /** Grid system to display all the characters **/
    .main-grid {
        @apply grid xl:grid-cols-3 md:grid-cols-3 grid-cols-2 gap-4 p-4;
        scrollbar-color: transparent transparent;
    }

    /*** App logo ***/
    .identity {
        @apply text-2xl font-bold font-display leading-none mx-8 self-start text-center bg-clip-text text-transparent bg-gradient-to-t from-green-400 to-cyan-400 hover:opacity-90 duration-150;
        filter: saturate(2);
    }

    /** Global hover effects for links **/
    .hover-link {
        @apply hover:text-white duration-150;
    }

    .character-card {
        @apply max-w-[220px] flex flex-col hover:cursor-pointer;
    }

    .character-card-alive {
        @apply bg-emerald-700/30 border border-transparent hover:border-emerald-400 duration-200;
    }

    .character-card-dead {
        @apply bg-red-700/30 border border-transparent hover:border-red-400 duration-200;
    }

    .character-card-unknown {
        @apply bg-gray-700/40 border border-transparent hover:border-gray-400 duration-200;
    }

    .character-label {
        @apply mb-3 max-w-[100%] self-start font-sans;
    }

    .character-name {
        @apply font-semibold whitespace-nowrap overflow-hidden text-ellipsis;
    }

    .character-origin {
        @apply text-sm font-light whitespace-nowrap overflow-hidden text-ellipsis;
    }

    .character-img {
        @apply max-w-[192px] rounded-full;
    }

    .character-status {
        @apply flex self-start mt-3 text-sm rounded-full px-2;
    }

    .character-status-alive {
        @apply bg-green-300 text-green-900;
    }

    .character-status-dead {
        @apply bg-red-300 text-red-900;
    }

    .character-status-unknown {
        @apply bg-gray-300 text-gray-900;
    }

    /** Popup **/
    .dialog-ui {
        @apply max-w-[80vw] md:max-w-[39vw] lg:max-w-[29vw] bg-black text-current backdrop:backdrop-blur-sm shadow-2xl shadow-black/50 rounded-3xl;
    }

    .hover-details {
        @apply hover:bg-white/20 hover:cursor-pointer px-2 rounded-full duration-300;
    }

    /* Pupup close button */
    .modal-btn {
        @apply sm:w-[calc((100%/2)-.5rem)];
    }

    .close-infos-btn {
        @apply font-black bg-gray-100 text-gray-900 hover:bg-red-600 hover:text-gray-100 duration-150 ease-in-out px-5 py-1 rounded-full;
    }

    .more-infos-btn {
        @apply font-black text-gray-100 border border-gray-100 hover:bg-gray-100 hover:border-current hover:text-emerald-900 duration-150 ease-in-out px-5 py-1 rounded-full;
    }

    /** AboutView layout **/
    .about-page {
        @apply flex flex-col justify-center xl:w-1/3 md:w-3/4 w-10/12 my-24 mx-auto;
    }
}

/* Disable the grid's scrollbar on Chromium based browsers */
.main-grid::-webkit-scrollbar {
    display: none;
}

@supports not (backdrop-filter: blur()) {
    .nav {
        background-image: linear-gradient(to top, #000000e0, #701a75);
    }

    .dialog-ui::backdrop {
        background-color: #000000e0;
    }
}